:root {
  --header-linke-color:#2196F3;
  --title-color:#212121;
  --hero-text:#757575;
  --color-fone:#2F303A;
  --title-color-too:#FFFFFF;
  --icon-color:#afb1b8;
  --card-set-gap:margin-left: 30px;
  --animation-cub: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient:linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 1200px) {
  .header {
    min-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 0;
  }
}

.header-list-info {
  display: flex;
  margin-left: auto;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo__bleack {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigation__list .link.current {
  color: var(--header-linke-color);
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  transition: color 250ms var(--animation-cub);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--header-linke-color);
}
.navigation__link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 250ms var(--animation-cub), opacity 250ms var(--animation-cub), background-color 250ms var(--animation-cub);
}

.navigation__link:hover::after {
  opacity: 1;
  transform: scaleX(1);
  background-color: var(--header-linke-color);
  transition: transform 250ms var(--animation-cub), opacity 250ms var(--animation-cub), background-color 250ms var(--animation-cub);
}

.accent {
  color: var(--header-linke-color);
}

.line {
  display: inline-block;
}
.line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--header-linke-color);
}
@media screen and (min-width: 1200px) {
  .line::after {
    bottom: 0;
  }
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .contact-list__item {
    margin-bottom: 12px;
  }
  .contact-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__item {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contact-list__item:last-child {
    margin-right: 0;
  }
}

.contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--hero-text);
}
.contact__link__mail:hover, .contact__link__mail:focus {
  color: var(--header-linke-color);
}
@media screen and (min-width: 1200px) {
  .contact__link__mail {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__link__tell,
.address__tell,
.address__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: 250ms var(--animation-cub);
  color: var(--hero-text);
}
@media screen and (min-width: 1200px) {
  .contact__link__tell,
.address__tell,
.address__mail {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__link__tell:hover,
.contact__link__tell:focus {
  color: var(--header-linke-color);
}

.contact__link__mail,
.contact__link__tell {
  display: flex;
  align-items: center;
}

.contact__icon__mail,
.contact__icon__tell {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  fill: currentColor;
}

.menu-btn {
  border: none;
  margin-left: auto;
  background-color: transparent;
  padding: 0;
  position: absolute;
  display: block;
  margin-left: auto;
  right: 10px;
  top: 10px;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  transform: translateY(0);
  opacity: 1;
  transition: transform 350ms var(--animation-cub), opacity 350ms var(--animation-cub);
}
.mob-menu > .mob-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.is-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--header-linke-color);
}

.mob-soc__list {
  display: flex;
}

.mob-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu-nav__link:hover, .mob-menu-nav__link:focus {
  color: var(--header-linke-color);
}

.mob-contact__list {
  position: relative;
}

.mob-contact-tell__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--header-linke-color);
}

.mob-contact-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--hero-text);
  margin-top: 32px;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-soc__span {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 480px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-fone);
  background-image: var(--bg-gradient), url(../images/logo-tel.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/logo-tel-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: var(--bg-gradient), url(../images/logo-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/logo-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    background-image: var(--bg-gradient), url(../images/logo.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/logo-2x.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
  color: var(--title-color-too);
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    line-height: 1.36;
    font-size: 44px;
  }
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  color: var(--title-color-too);
  background: var(--header-linke-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  transform: scaleX(1);
  transition: 250ms var(--animation-cub);
}
.hero-btn:hover {
  transform: scale(1.03);
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    min-width: 216px;
  }
}

.benefits {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.benefits-item {
  margin-bottom: 30px;
}
.benefits-item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

.benefits-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-text);
}

.foto {
  display: none;
}
@media screen and (min-width: 1200px) {
  .foto {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.foto-title,
.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .foto-title,
.team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.foto-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.foto-item {
  width: calc((100% - 60px) / 3);
}

.foto-item-box {
  position: relative;
}

.foto-item-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  width: 370px;
  padding: 27px;
  bottom: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color-too);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--hero-text);
}

.time-fio {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: 250ms var(--animation-cub);
}
.team-soc-link:hover, .team-soc-link:focus {
  fill: #fff;
  background-color: var(--header-linke-color);
}

.consumers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .consumers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.consumers-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .consumers-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.consumers-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .consumers-list {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 480px) {
  .consumers-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .consumers-item {
    width: calc((100% - 90px) / 3);
  }
}

.consumers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);
  transition: 250ms var(--animation-cub);
}
.consumers-link:hover, .consumers-link:focus {
  fill: var(--header-linke-color);
  border-color: var(--header-linke-color);
}
@media screen and (min-width: 768px) {
  .consumers-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .consumers-link {
    width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  width: 100%;
  min-height: 603px;
}
@media screen and (min-width: 768px) {
  .footer {
    min-height: 432px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    min-height: 252px;
  }
}

.footer-container {
  text-align: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer-logo {
  margin-top: 60px;
}

.logo-white {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: var(--title-color-too);
}

.address-box {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .address-box {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .address-box {
    margin-left: 0;
    text-align: start;
    width: 100%;
  }
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: var(--title-color-too);
}

.address__list {
  padding: 0;
  margin: 0;
}

.address__mail,
.address__tell {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address__mail:hover, .address__mail:focus,
.address__tell:hover,
.address__tell:focus {
  color: var(--header-linke-color);
}

.address__mail,
.address__tell,
.address__link {
  display: inline-block;
  margin-top: 9px;
  padding-left: 0;
}

.media__title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color-too);
}
@media screen and (min-width: 1200px) {
  .media__title {
    text-align: start;
  }
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .media {
    display: block;
    margin-top: 0;
    margin-right: 86px;
  }
}
@media screen and (min-width: 1200px) {
  .media {
    margin: 0;
  }
}

.media__list {
  display: flex;
  gap: 10px;
}

.media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
  transition: 250ms var(--animation-cub);
}
.media__link:hover, .media__link:focus {
  background-color: var(--header-linke-color);
}

.form {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .form {
    margin-left: 93px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    text-align: start;
  }
}

.form__wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .form__wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: unset;
  }
}

.form__input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: #fff;
  transition: border-color 250ms var(--animation-cub);
}
.form__input:focus {
  border-color: var(--header-linke-color);
}
.form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 358px;
  }
}

.form__button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 12px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--header-linke-color);
  color: #fff;
  transition: box-shadow 250ms var(--animation-cub);
}
.form__button:hover, .form__button:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .form__button {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .form__button {
    display: flex;
    text-align: center;
    margin-top: 0;
    margin-left: 12px;
  }
}

.form__icon {
  margin-left: 10px;
  fill: #fff;
}

.backdrop {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--animation-cub), visibility 250ms var(--animation-cub);
}

.modal {
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  padding: 40px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation-cub);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  position: absolute;
  cursor: pointer;
  padding: 0;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.icon__cloused {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: fill 250ms var(--animation-cub);
}
.icon__cloused:hover {
  fill: var(--header-linke-color);
}

.input__wrap {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.input__title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--hero-text);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__label {
  margin-bottom: 10px;
}

.modal__coment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  font-size: 12px;
  color: var(--color-fone);
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms var(--animation-cub);
}
.modal__coment:focus {
  border-color: var(--header-linke-color);
}
.modal__coment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--animation-cub);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.input__form {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 12px;
  color: var(--color-fone);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms var(--animation-cub);
}
.input__form:focus {
  border-color: var(--header-linke-color);
}
.input__form:focus + .modal__icon {
  fill: var(--header-linke-color);
}
@media screen and (min-width: 1200px) {
  .input__form {
    width: 448px;
  }
}

.checkbox__policy {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #757575;
  display: flex;
}
.checkbox__policy span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  transition: background-color 250ms linear;
  border-color: 250ms linear;
}
@media screen and (min-width: 1200px) {
  .checkbox__policy {
    font-size: 14px;
  }
}

.check__icon {
  fill: #fff;
  transition: fill 250ms linear;
}

.checkbox:checked + .checkbox__policy span {
  background-color: var(--header-linke-color);
  border-color: var(--header-linke-color);
  border: none;
}

.checkbox:checked + .checkbox__policy .check__icon {
  fill: #fff;
}

.checkbox:focus + .checkbox__policy span {
  border-color: var(--header-linke-color);
}

.polis {
  font-size: 12px;
  letter-spacing: 0.03em;
  margin-left: 3px;
  text-decoration: underline;
  color: var(--header-linke-color);
}
@media screen and (min-width: 1200px) {
  .polis {
    font-size: 14px;
  }
}

.modal__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--title-color-too);
  background: var(--header-linke-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  transform: scaleX(1);
  transition: 250ms var(--animation-cub);
}
.modal__btn:hover {
  transform: scale(1.03);
}

/* .checkbox-text::before{
    content:"";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 5px;
    transition: background-color: 250ms linear;
}

.input-check:checked + .checkbox-text::before {
    background-color: var(--header-linke-color);
    background-image: url(../images/chek.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
} */
.menu-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu-item {
  margin-right: 8px;
  margin-bottom: 15px;
}
.menu-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 364px) and (max-width: 475px) {
  .menu-item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu-item {
    margin-bottom: 0;
  }
}

.menu-btm {
  padding: 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
  border-width: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
  transition: 250ms var(--animation-cub);
  color: var(--title-color);
}
.menu-btm:hover, .menu-btm:focus {
  color: var(--title-color-too);
  background: var(--header-linke-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.galery {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .galery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .galery-list {
    margin-top: 50px;
  }
}

.galery-item {
  width: 100%;
  transition: 250ms var(--animation-cub);
  background: var(--title-color-too);
  border: 1px solid #EEEEEE;
}
.galery-item:hover, .galery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .galery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .galery-item {
    width: calc((100% - 60px) / 3);
  }
}

.galery-item:hover .text-box {
  transform: translateY(0);
}

.galery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 4px;
  color: var(--title-color);
}

.galery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 4px;
  color: var(--hero-text);
}

.galery-name {
  padding: 20px 24px;
}

.galery-text-box {
  position: relative;
  overflow: hidden;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms var(--animation-cub);
  transition: transform 400ms linear;
  line-height: 1.5;
  background: rgba(33, 150, 243, 0.9);
  color: var(--title-color-too);
}/*# sourceMappingURL=main.css.map */