
.benefits{
    padding-top: 60px;
        @media screen and (min-width: 1200px){
        padding-top: 94px;
        }
}

.benefits-list {
        @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        }
}

.benefits-item {
    margin-bottom: 30px;
    &:last-child {
    margin-right: 0;
    }
        @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        margin-right: 30px;
        }
}

.benefits-icon-box {
display: flex;
align-items: center;
height: 120px;
margin-bottom: 30px;
border-radius: 4px;
background-color: #F5F4FA;
}

.benefits-icon{
justify-content: center;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:var(--title-color);
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--hero-text);
}