
    .benefits{
        padding-top: 60px;
        }
        
        .benefits-icon-box {
            display: flex;   
            height: 120px;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            border-radius: 4px;
            background-color: #F5F4FA;
        }
        
        .benefits-list {
            // display: flex;
            // padding: 0;
            @media screen and (min-width: 480px){
                
            }
        }
        
        .benefits-item{
            // margin-right: 30px;
            // margin-bottom: 30px;
            // max-width: 270px;
            // flex-basis: calc((100% - 90px) / 4);
            max-width: 100%;
        }
        
        .benefits-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 10px;
            color:var(--title-color);
        }
        
        .benefits-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
        
            color:var(--hero-text);
        }