.consumers {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.consumers-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px){
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        }
}

.consumers-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
        @media screen and (min-width: 1200px) {
        display: flex;
        gap: 30px;
        flex-wrap: nowrap;
    }
}

.consumers-item {
    @media screen and (min-width: 480px) {
    width: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
    }
}

.consumers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill:var(--icon-color);
    transition: 250ms var(--animation-cub);
        &:hover,
        &:focus {
        fill:var(--header-linke-color);
        border-color:var(--header-linke-color);
        }
            @media screen and (min-width: 768px) {
            width: 226px;
            }
            @media screen and (min-width: 1200px) {
            width: 170px;
            }
}

