.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container{
    // display: flex;
    align-items: baseline;
}

.footer-logo{
    margin-top: 60px;
}

.logo-white{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.93;
    letter-spacing: 0.03em;
    color:var(--title-color-too);
}

.box{
    margin-right: 70px;
    flex-grow: 1px;
}

.address__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-top: 20px;
    color:var(--title-color-too);
}

.address__list{
    padding: 0;
    margin: 0;
}

.address__mail,
.address__tell{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus{
    color:var(--header-linke-color);
    }
}

// .address__tell:hover,.address__tell:focus,
// .address__mail:hover,.address__mail:focus {

//     color:var(--header-linke-color);
// }

.address__mail,
.address__tell,
.address__link{
    display: inline-block;
    margin-top: 9px;
    padding-left: 0;
}


.media__title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-color-too);
}

.media__list {
    display: flex;
    gap: 10px;
    
}

.media__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.1);
    fill: #fff;
    transition: 250ms var(--animation-cub);
        &:hover,
        &:focus {
        background-color:var(--header-linke-color);
}
}

