.foto{
    
    padding-top: 94px; 
    padding-bottom: 94px;
    }

.foto-title,
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;

color: var(--title-color);
}

.foto-list{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
}
.foto-item{
    width: calc((100% - 60px)/3);
}

.foto-item-box{
    position: relative;
}

.foto-item-text{
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    width: 370px;
    padding: 27px;
    bottom: 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color:var(--title-color-too);
    background-color: rgba(47, 48, 58, 0.8);
}