.galery{
    padding-top: 60px;
    padding-bottom: 60px;
        @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.galery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin-top: 40px;
    @media screen and (min-width: 1200px){
        margin-top: 50px;
    }
}

.galery-item {
    width: 100%;
    transition: 250ms var(--animation-cub);
    background:var(--title-color-too);
    border: 1px solid #EEEEEE;
        &:hover,
        &:focus {
        box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);  
        }
            @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
            }
            @media screen and (min-width: 1200px) {
            width: calc((100% - 60px) / 3);
            }
}


.galery-item:hover .text-box{
    transform: translateY(0);
}

.galery-title{
    // min-width: 322px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 4px;

    color: var(--title-color);
}

.galery-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin: 4px;

    color: var(--hero-text);
}
.galery-name{
    padding: 20px 24px;
}

.galery-text-box{
    position: relative;
    overflow: hidden;
}
.text-box{
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
    height: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: 250ms var(--animation-cub);
    transition: transform 400ms linear;
    line-height: 1.5;

    background: rgba(33, 150, 243, 0.9);
    color:var(--title-color-too);
}