:root{
    --header-linke-color:#2196F3;
    --title-color:#212121;
    --hero-text:#757575;
    --color-fone:#2F303A;
    --title-color-too:#FFFFFF;
    --icon-color:#afb1b8;
    --card-set-gap:margin-left: 30px;
    --animation-cub: cubic-bezier(0.4, 0, 0.2, 1);
}
body{
    font-family:'Roboto',sans-serif;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    } 

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid red; */
}