.backdrop{
    position: absolute;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color:rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--animation-cub),
    visibility 250ms var(--animation-cub);
}

.modal{
    width: 100%;
    max-width: 450px;
    min-height: 609px;
    padding: 40px;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--animation-cub);
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0);
    }
        @media screen and (min-width: 1200px) {
        max-width: 528px;
        min-height: 581px;
        }
}


.modal__button{
    position: absolute;
    cursor: pointer;
    padding: 0;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.icon__cloused{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: fill 250ms var(--animation-cub);
        &:hover {
        fill:var(--header-linke-color);
    }
}

.input__wrap{
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.input__title{
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--hero-text);
}

.modal__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color:var(--title-color);
        @media screen and (min-width: 1200px) {
            line-height: 1.15;
        }
}

.modal__label{
    margin-bottom: 10px;
}

.modal__coment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    font-size: 12px;
    color: var(--color-fone);
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms var(--animation-cub);
        &:focus {
        border-color: var(--header-linke-color);
    }
        &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.input__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms var(--animation-cub); 
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
}

.input__form {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    font-size: 12px;
    color: var(--color-fone);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms var(--animation-cub);
        &:focus {
        border-color: var(--header-linke-color);
        }
        &:focus + .input__icon {
        fill: var(--header-linke-color);
        }
            @media screen and (min-width: 1200px) {
            width: 448px;
            }
}



